@model FitnessApp.Models.AthleteDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Athlete?</h2>

<h2><a href="/Athlete/List">No, Take me Back.</a></h2>

<h4>Name: @Model.AthleteFirstName @Model.AthleteLastName</h4>

<form action="/Workout/Delete/@Model.AthleteId" method="POST">
    <input type="submit" value="Yes, Confirm Delete" />
</form>