@model FitnessApp.Models.AthleteDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Athlete</h2>

<form action="/Athlete/update/@Model.AthleteId" method="post">
    <div style="display:none;">
        @*Pass through Athlete Id*@
        <input type="text" name="AthleteId" value="@Model.AthleteId" />
    </div>
    <div>
        <label>First Name: </label>
        <input type="text" name="AthleteFirstName" value="@Model.AthleteFirstName" />
    </div>

    <div>
        <label>Last Name: </label>
        <input type="text" name="AthleteLastName" value="@Model.AthleteLastName" />
    </div>

    <div>
        <input type="submit" value="Update Athlete" />
    </div>
</form>
