@model FitnessApp.Models.WorkoutDto

@{
    ViewBag.Title = "View";
}

<h2>Show Workout</h2>

<a href="/Workout/List">Go back to Workout List</a>

<h3>@Model.WorkoutName</h3>
<div>@Model.WorkoutDate</div>
<div>@Model.WorkoutDuration minutes</div>
<div>@Model.CategoryName</div>
