@model IEnumerable<FitnessApp.Models.WorkoutDto>

@{
    ViewBag.Title = "List";
}

<h2>Workout List</h2>

<a href="/workout/new" style="background-color: #4CAF50; color: white; padding: 15px 20px;"> Add a Workout </a>

@foreach (var Workout in Model)
{
    <h2><a href="/Workout/Details/@Workout.WorkoutId">@Workout.WorkoutName</a></h2>
    <div>Date: @Workout.WorkoutDate.Date </div>
    <div>Duration: @Workout.WorkoutDuration minutes</div>
    <div>Category Name: @Workout.CategoryName</div>
}
 