@model IEnumerable<FitnessApp.Models.WorkoutDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var Workout in Model)
{
    <h2><a href="/Workout/Details/@Workout.WorkoutId">@Workout.WorkoutName</a></h2>
    <div>Date: @Workout.WorkoutDate.Date </div>
    <div>Duration: @Workout.WorkoutDuration minutes</div>
    <div>Category Name: @Workout.CategoryName</div>
}
 