@model IEnumerable<FitnessApp.Models.CategoriesDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create a Workout</h2>
<form action="/Workout/Create" method="POST">
    <div class="name">
        <label>Workout Name: </label> <input type="text" name="WorkoutName" />
    </div>
    <div class="date">
        <label>Workout Date: </label> <input type="date" name="WorkoutDate" />
    </div>
    <div class="duration">
        <label>Workout Duration (in minutes): </label> <input type="number" name="WorkoutDuration" />
    </div>
    <div class="categoryId">
        <label>Category ID: </label> <input type="number" name="CategoryId" />
    </div>
    <div class="categoryName">
        <label for="CategoryName">Category Name: </label>
        <select name="CategoryName" id="category">
            <option disabled selected value>-- Choose a category name -- </option>
            <option value="Endurance">Endurance</option>
            <option value="Balance">Balance</option>
            <option value="Strength">Strength</option>
            <option value="Flexibility">Flexibility</option>
            <option value="Body Composition">Body Composition</option>
        </select>
    </div>
    <div class="button">
        <input type="submit" value="Create Workout" />
    </div>
</form>
