@model FitnessApp.Models.WorkoutDto

@{
    ViewBag.Title = "View";
}

<h2>Show Workout</h2>


<h3>@Model.WorkoutName</h3>
<div>@Model.WorkoutDate</div>
<div>@Model.WorkoutDuration minutes</div>
<div>@Model.CategoryName</div>
